body {
    color: darkgray;
    width: 100%;
    height: 100%;
    font-family: 'Crimson Text', serif;
    margin: 0;
}

.panel-title {
    width: 100%;
    display: inline-flex;
    height: 9em;
    padding-bottom: 1em;
    border-bottom: solid 1px darkgray;
}

.panel-title h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 5em;
    text-align: center;
    align-self: center;
    flex-grow: 2;
    margin-bottom: 10px;
}

.panel-title img {
    flex-grow: 1;
}

#fadein {
    -moz-animation: opacity 2s ease;
    -webkit-animation: opacity 2s ease;
    -o-animation: opacity 2s ease;
    animation: opacity 2s ease;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@-moz-keyframes opacity {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@-o-keyframes opacity {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.latest-pic {
    position: relative;
}

.latest-pic img {
    width: 100%;
}

.current-temp {
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    color: #ffffff;
    background-color: #000000;
    font-size: 40px;
    opacity: 0.5;
}

.swipe-right {
    background: url("../images/swipeR.png") no-repeat;
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 48px;
    height: 48px;
}

.swipe-left {
    background: url("../images/swipeL.png") no-repeat;
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 48px;
    height: 48px;
}